// font-family: 'Roboto', sans-serif;
// font-family: 'Shrikhand', cursive;

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  font-family: $ffs;
}
.anim-loader{
  animation: overflow 2s;
}

@keyframes overflow {
  0% {
    overflow: hidden;
  }

  100% {
    overflow: hidden;
  }

}

h1,
h2 {
  position: relative;
  font-family: $ffs;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 2rem;
}


h3 {
  font-family: $ffs;
  color: $black;
}

p {
  font-size: 1.8rem;
  color: $cfp;
  font-family: $ffs;
}

a {
  text-decoration: none;
  color: $black;
}

main {
  margin-top: 0.3rem;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  animation: display-app 2s ease-out;
  animation-fill-mode: both;

}



@keyframes display-app {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}