// colors 

// color font
$cfp:#353535;
$pink:#9356DC;
$secondary-pink:#FF79DA;
$green: #99E2D0;
$white: #fff;
$black:#000000;

//font-family

$ffp: 'Shrikhand', cursive;
$ffs:'Roboto', sans-serif;

//background
$bg-grey: #F6F6F6;
$bg-form:#EAEAEA;
$bg-footer:#353535;
$cat: #99E2D0;
// ====================================

//media queries

$tablet: screen and (min-width:768px);
$desktop: screen and (min-width:990px);