form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $bg-form;
  color: $cfp;

  label {
    padding: 0.5rem 0.5rem 1rem 3rem;
  }

  i {
    font-size: 1.6rem;
  }

  .search {
    width: 15rem;
    padding: 1rem;
    font-size: 1.7rem;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
    color: $cfp;
    background-color: transparent;
    cursor: pointer;
  }
}

@media #{$tablet} {
  form {
    i {
      font-size: 2.6rem;
      padding: 1rem;
    }

    .search {
      width: 20rem;
      font-size: 2.2rem;
    }
  }
}