.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2rem;
  border: none;
  box-shadow: 0px 3px 8px 0px #cacaca;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  // a {
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: bold;
    color: $black;
  // }

  &:hover {
    box-shadow: 0px 3px 8px 3px #cacaca;
  }
}

.btn--explorer {
  position: relative;
  margin: 2rem 0 4rem;
  border-radius: 4rem;
  background: linear-gradient(170deg, ($secondary-pink), ($pink));
  opacity: 1;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  color: $white;
  font-weight: normal;
  
  &:hover {
    background: linear-gradient(170deg, $secondary-pink, (lighten($pink, 8%)));
  }
}

.btn--functioning {
  position: relative;
  margin: 1rem 2rem 1.5rem 4rem;
  padding: 2.5rem;
  border-radius: 2rem;
  opacity: 0.9;
  
  
  i {
    margin-right: 3rem;
    color: $cfp;
    font-size: 1.8rem;
  }
  
  a {
    font-size: 1.5rem;
  }

  .number {
    position: absolute;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    top: 50%;
    left: -1.3rem;
    transform: translateY(-50%);
    color: $white;
    background-color: $pink;
    border-radius: 50%;
    z-index: 2;
    font-weight: normal;
  }

  &::after {
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: $pink;
    border-radius: 2rem;
    box-shadow: 0px 4px 10px 0px #CACACA;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  &:hover::after {
    opacity: 0.2;
  }
}

.btn--functioning:hover i {
  color: $pink;
}

.fa-list {
  padding-right: 1rem;
}

.btn--command {
  margin: 4rem 0 5rem;
  padding: 1.5rem 4rem;
}


//heart

.heart {
  position: absolute;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  top: -2rem;
  right: 2rem;
  cursor: pointer;

  & i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }

  & i:last-child {
    font-size: 2.2rem;
    position: absolute;
    top: -0.1rem;
    left: -0.1rem;
    background: -webkit-linear-gradient(45deg, lighten($pink, 55%), darken($pink, 10%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.menu .heart {
  top: 2rem;
  right: 6rem;

  & i {
    position: relative;
    top: 0rem;
    left: 0;
    font-size: 2rem;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;

    &:hover {
      opacity: 0;
    }
  }

  & i:last-child {
    font-size: 2.2rem;
    top: -2.1rem;
    left: -0.1rem;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}