.section__main {
  background-color: $bg-grey;
  width: 100%;

  &--home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    h2 {
      position: relative;
      text-align: center;
      line-height: 1.3;
    }

    p {
      text-align: center;
      line-height: 1.2;
    }
  }
}

.section__choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;

  aside {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  h2 {
    align-self: flex-start;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0 6rem;
  margin: 4rem 0 0;
  background-color: #f6f6f6;
}

.wrap--restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;

  h1 {
    align-self: start;
  }
}


@media #{$tablet} {
  .display-br{
    display: none;
  }
  .section__choice {
    width: 100%;

    aside{
      width: 60%;
    }
  }

  // .wrap--restaurants {
  //   h1 {
  //     // align-self: center;
  //   }
  // }
}

@media #{$desktop} {
  .section__choice {
    width: 100%;
    h2 {
      margin: 1rem auto;
    }
    
    aside {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  }
  .wrap--restaurants{
    width: 100%;
    h1{
      align-self:center;
    }
  }
}